{% extends 'app/home.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Top 10 Songs</h1>
    <div class="row">
        <!-- Song 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/RLzC55ai0eo?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/RLzC55ai0eo/maxresdefault.jpg" alt="heerriye" class="img-fluid thumbnail large-thumbnail">
                <div class="title">heerriye</div>
            </a>
        </div>
        <!-- Song 2 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/LK7-_dgAVQE?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/LK7-_dgAVQE/maxresdefault.jpg" alt="tauba tauba" class="img-fluid thumbnail large-thumbnail">
                <div class="title">tauba tauba</div>
            </a>
        </div>
        <!-- Song 3 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/yH7eDWTH5iM?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/yH7eDWTH5iM/maxresdefault.jpg" alt="illuminati" class="img-fluid thumbnail large-thumbnail">
                <div class="title">illuminati</div>
            </a>
        </div>
        <!-- Song 4 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/a3Ue-LN5B9U?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/a3Ue-LN5B9U/maxresdefault.jpg" alt="katchi sera" class="img-fluid thumbnail large-thumbnail">
                <div class="title">katchi sera</div>
            </a>
        </div>
        <!-- Song 5 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/fRD_3vJagxk?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/fRD_3vJagxk/maxresdefault.jpg" alt="vaathi coming video" class="img-fluid thumbnail large-thumbnail">
                <div class="title">vaathi coming video</div>
            </a>
        </div>
        <!-- Song 6 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/XJAMVPQWvGY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/XJAMVPQWvGY/maxresdefault.jpg" alt="Sajani re" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Sajani re</div>
            </a>
        </div>
        <!-- Song 7 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/gJLVTKhTnog?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/gJLVTKhTnog/maxresdefault.jpg" alt="HUSN 2.O" class="img-fluid thumbnail large-thumbnail">
                <div class="title">HUSN 2.O</div>
            </a>
        </div>
        <!-- Song 8 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/QXJyMpxd210?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/QXJyMpxd210/maxresdefault.jpg" alt="ve kamaleya" class="img-fluid thumbnail large-thumbnail">
                <div class="title">ve kamaleya</div>
            </a>
        </div>
        <!-- Song 9 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/KUpwupYj_tY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/KUpwupYj_tY/maxresdefault.jpg" alt="tere hawale" class="img-fluid thumbnail large-thumbnail">
                <div class="title">tere hawale</div>
            </a>
        </div>
        <!-- Song 10 -->
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/dIQq3AZkQqg?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/dIQq3AZkQqg/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">alan walker new
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/KNAMgkibaAA?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/KNAMgkibaAA/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Tera main intezar</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div><div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://youtu.be/iAIBF2ngbWY?feature=shared" target="_blank" class="link">
                <img src="https://img.youtube.com/vi/iAIBF2ngbWY/maxresdefault.jpg" alt="Pehle bhi main" class="img-fluid thumbnail large-thumbnail">
                <div class="title">Pehle bhi main</div>
            </a>
        </div>
        

    
    </div>
</div>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #f8f9fa;
    }
    .container {
        max-width: 1200px; /* Increase the max width to fit more content */
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: auto;
    }
    .error {
        color: red;
    }
    #progress-container {
        width: 100%;
        background-color: #e9ecef;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
    }
    #progress-bar {
        height: 30px;
        background-color: #28a745;
        text-align: center;
        line-height: 30px;
        color: white;
    }
    .large-thumbnail {
        width: 100%; /* Make the thumbnail take up the full width of the column */
        height: auto;
        border-radius: 5px;
        transition: transform 0.2s;
    }
    .large-thumbnail:hover {
        transform: scale(1.05);
    }
    .title {
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
    }
</style>
{% endblock %}
